@model DatabaseModel.DepartmentTable

@{
    ViewBag.Title = "Działy biblioteki > Szczegóły";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            Nazwa działu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            ID Pracownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.DepartmentID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-primary" })
</p>



